@model List<User>
@using BusinessLayer.Concrete
@using DataAccessLayer.Concrete
@using EntityLayer.Concrete

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}
<h1>Kullanıcıların Listesi</h1>

<html>
<head>
    <style>
        table, td, th {
            border: 1px solid #ddd;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 15px;
        }
    </style>
</head>
<body>

<br />
<table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Öğrenci No</th>
            <th>Bölüm</th>
            <th>Email</th>
            <th>Rolü</th>
            <th>Rol Güncelleme</th>            
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Ad</td>
                <td>@item.Soyad</td>
                <td>@item.OgrNo</td>
                <td>@item.Bolum</td>
                <td>@item.Email</td>
                <td>
                    @foreach (var role in item.UserRoles)
                    {
                        @role.Role.Ad <br />
                    }
                </td>
                <td>
                    <a href="/Admin/UpdateRole/@item.Id" class="btn btn-primary">Rol Güncelle</a>

                  @*   <form asp-action="UpdateUserRole" method="post">
                        <input type="hidden" name="userId" value="@item.Id" />
                        <select name="roleId"> *@
                            @* @foreach (var role in item.UserRoles)
                            {
                                <option value="@role.RoleId">@role.Id</option>
                            } *@
                             @* @foreach (var role in ViewBag.AllRoles)
                            {
                                <option value="@role.RoleId">@role.Ad</option>
                            } *@
                       @*  </select>
                        <button type="submit">Güncelle</button>
                    </form> *@
                </td> 
            </tr>
           
    }
</table>
</body>
</html>